body {
  position: relative;
  background-image: linear-gradient(
      rgba(62, 61, 73, 0.8),
      rgba(141, 79, 122, 0.7)
    ),
    url("images/IMG_3632_edited.jpg");
  background-size: cover;
  background-position: center;
  color: #fff !important;
}

.container {
  max-width: fit-content;
}

.landing {
  margin: 125px auto;
}
h1 {
  text-transform: uppercase !important;
  font-family: Georgia, "Times New Roman", Times, serif !important;
  font-weight: bold !important;
  font-size: 50px !important;
  letter-spacing: 2.5px;
  text-align: center;
}

.description {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  margin-top: 50px;
  letter-spacing: 2px;
  color: rgb(212, 188, 188);
  font-size: large;
  width: 100%;
}

.social {
  margin-top: 50px;
  margin-bottom: 45px;
  float: right;
  height: fit-content;
  width: fit-content;
  padding: 5px;
}

a .fa {
  color: rgb(94, 128, 81);
  font-size: 25px;
}

a .fa:hover {
  color: #00fbff;
}

.active {
  background-color: rgb(38, 0, 255);
}

.nav {
  font-family: Poppins, sans-serif;
  font-size: 45px;
  font-weight: bold;
  padding: 15px 0px 15px 0px;
  text-align: center;
  margin: 0;
  opacity: 0.7;
  background-color: transparent;
  white-space: nowrap;
}

.nav li {
  display: inline-block;
  padding: 0 25px 1px 25px;
  font-size: 20px;
}

.nav li a {
  text-decoration: none;
  color: white;
  margin: 0;
  font-family: sans-serif;
}

.nav li a:hover {
  color: #1c86ee;
  font-weight: bold;
}

.grid-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
.grid-containerA{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px;
}
.grid-containerE{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.grid-item {
  width: 100%;
  background-color:#2b2531;
  border: 1px solid rgba(139, 124, 124, 0.8);
  padding: 25px;
  font-size: 40px;
  text-align: left;
  color: peru;
}


.profile-image-wrapper img {
  width: 100%;
  border-radius: 50%;
}

.position {
  width: 100%;
  position: relative;
  padding: 20px;
}
.skillArea {
  box-sizing: border-box;
  width: 100%;
  margin: 25px 0;
}

.skillArea p {
  color: rgb(236 198 202);
  text-transform: uppercase;
  margin: 0 0 10px;
  font-weight: bold;
  font-size: larger;
  letter-spacing: 2px;
  text-align: left;
}

.skillArea p:nth-child(2) {
  float: right;
  position: relative;
  top: -30px;
}

.skill {
  background: #262626;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #0fffb7;
  border-radius: 3px;
}

.skill_percentage {
  background: #0fffb7;
  width: 100%;
  height: 10px;
}

.description2 {
  font-family: monospace;
  font-weight: bolder;
  margin-top: 80px;
  letter-spacing: 2px;
  font-size: xx-large;
  width: 100%;
  text-align: center;
}

a[href^="mailto"]::before {
  content: "📧 ";
  font-size: xx-large;
}

a[href^="tel"]::before {
  content: "📞 ";
  font-size: xx-large;
}

@media only screen and (max-device-width: 480px), only screen and (-webkit-min-device-pixel-ratio: 2) , screen and (-webkit-device-pixel-ratio:1.5){
  .container, .grid-containerE, .container-fluid {
      width: 90%;
      min-width: 480px;
      margin: auto;
  }
}

#home{
  background-image: url("/JobDocument/images/egypt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  max-width:100%;
  width: 100%;
  margin: 0px;
}

#personal{
  background-image: url("/JobDocument/images/second\ dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#education{
  background-image: url("/JobDocument/images/third-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#skills{
  background-image: url("/JobDocument/images/fourth-back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/*#achievement{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}*/

#contact{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}